<launch>
  <!-- Launch turtlebot_hoi.launch -->
  <include file="$(find turtlebot_simulation)/launch/turtlebot_hoi.launch" />

  <!-- Run FK_diff_drive.py -->
  <node name="FK_diff_drive" pkg="hands-on-intervention" type="FK_diff_drive.py" output="screen" />

  <!-- Run integration.py -->
  <node name="dead_reckoning_gt" pkg="hands-on-intervention" type="dead_reckoning_gt.py" output="screen" />

  <!-- Run intervention_integrated_stonefish.py -->
  <node name="standalone_controller.py" pkg="hands-on-intervention" type="standalone_controller.py" output="screen" />

  <!-- Run perception_intervention -->
  <node name="only_intervention" pkg="autonomous_task_NAK" type="only_intervention.py" output="screen" />
</launch>
