<launch>

  <!-- Run FK_diff_drive.py -->

  <node name="integration_hardware" pkg="pose-graph-slam" type="integration_hardware.py" output="screen" />

  <node name="vw_to_wheel_frontier" pkg="frontier_explorationb" type="vw_to_wheel_frontier.py" output="screen" />

  <!-- Run aruco_pose_realsense_stonefish.py -->
  <node name="aruco_pose_realsense_hardware" pkg="hands_on_perception" type="aruco_pose_realsense_hardware.py" output="screen" />

  <!-- Run intervention_integrated_stonefish.py -->
  <node name="intervention_perception_integrated_hardware" pkg="hands-on-intervention" type="intervention_perception_integrated_hardware.py" output="screen" />

  <!-- Run perception_intervention -->
  <node name="perception_intervention" pkg="autonomous_task_NAK" type="perception_intervention.py" output="screen" />
</launch>
